PORT=5001
MONGO_URI=mongodb+srv://lavkesh1025:YapSy7jltapd9I1p@cluster0.fcjjcnm.mongodb.net/streamefy_db

STEAM_API_KEY=agaunxxnz269
STEAM_API_SECRET=jaxcdv3258fpegsr5bydte8sqpe89xb5v27ckpnkfwysecg7cept8rn4cpxvdprc

JWT_SECRET_KEY=l4jmx/GpycOAJHHejPPrMhDGXY9r0S1wu2zXBRnb00A=
NODE_ENV=production
